<div class="container">
<div class="row">
  <div class="w-50 mx-auto">
    <h3> Create new Team:
      <a href="/create-team" class="btn btn-primary edit-button" id=" id="create-new-team"">Create Team</a>
    </h3>
  </div>
  <h3>Your teams:</h3>
  {{#each userTeams as |team|}}
  <h4>{{team.team_name}} <a href="#" class="btn btn-primary edit-button">Edit Team</a></h4>
  {{#each team.pokemons as |pokemon|}}
  <div class="card col-sm-12" style="width: 18rem;">
    <img class="card-img-top col" src="{{pokemon.sprite}}" alt="{{pokemon.pokemon_name}}">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title" id="pokemon-name">{{pokemon.pokemon_name}}</h5>
      <span class="card-text type-text {{format_type pokemon.type_1}}">{{format_type pokemon.type_1}}</span>
      {{#if pokemon.type_2}}
      <span class="card-text type-text {{format_type pokemon.type_2}}">{{format_type pokemon.type_2}}</span>
      {{/if}}
    </div>
  </div>
  {{/each}}
  {{/each}}
</div>
</div>