<div class="container">
<h3>Here are the current Top Ten Teams</h1>
<br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 1</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 2</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 3</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 4</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 5</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 6</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 7</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 8</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 9</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Team 10</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>
</div>